#nav, * {
    background-color: gray !important;
    color: limegreen !important;
}

a {
    padding: 10px;
    border: 1px solid limegreen !important;
}

.centered {
    margin: auto;
}

.centered-wrapper {
    display: flex;
}
