<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CatsForAdmins</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    
</head>
<body>

    <div class="container">
        <div class="">
        <h1>Cats</h1>
        <form action="/flag" method="post">
            <!-- VWpJNWRscERRakJoUjJ4MVdubENTa2xIYUdoa2JWVm5XVEk1ZG1FeWJHeGplVUpzWW0xR2FXSkhWbXRKVVQwOQ== -->
            <button type="submit button" class="btn btn-primary" style="display:none" name="accessToken" value="">Access the flag</button>
        </form>
        <a href="/cats" style="color:white">
            <button type="button" class="btn btn-primary">Look at a cat</button>
        </a>
        </div>
    </div>

</body>

</html>
