<html>
<head>
    <title>HTTP Fanatics</title>
</head>
<body>
<div>
    <h1>HTTP Fanatics</h1>
    <i>The site all about HTTP.</i>
</div>

<hr/>

<div>
    <h2>Users</h2>
    <p>{{ users }}</p>
    <button onclick="window.location.href='/dashboard'">Go to dashboard</button>
    (Registered users only)
</div>

<hr/>

<div>
    <h2>Blog</h2>

    <div>
        <h3>HTTP/3 Support - <i>April 22, 2024</i></h3>
        <p>The HTTP Fanatics site now supports HTTP/3.</p>
        <p>HTTP/3 will help improve multiplexed requests, so you can load ALL of our webpages faster.</p>
        <p>Also, the title of this post is in an <i>h3</i> tag. Isn't that amazing?</p>
    </div>

    <div>
        <h3>HTTP/2 released - <i>May 14, 2015</i></h3>
        <p>Today is an exciting day for all HTTP enthusiasts.</p>
        <p>HTTP/2 has finally been standardized. This will help improve the speed of the web.</p>
        <p>Sadly, HTTP fanatics will not be able to update our website for the forseeable future.</p>
    </div>

    <div>
        <h3>HTTPS standardized - <i>2000ish maybe?</i></h3>
        <p>HTTPS is a new "version" of HTTP.</p>
        <p>All communication will be encrypted, meaning that nobody can eavesdrop on your private HTTP requests.</p>
        <p>I've already downloaded some limited-edition science-fiction films, and nobody can know!</p>
    </div>

    <div>
        <h3>HTTP/1.0 released - <i>some time in 1996</i></h3>
        <p>HTTP/1.0 has finally been released.</p>
        <p>Long live the internet!</p>
    </div>
</div>

</body>
</html>